---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}
{% assign sort_categories = site.categories | sort %}

{% for category in sort_categories %}
  {% assign category_name = category | first %}
  {% assign posts_of_category = category | last %}
  {% assign first_post = posts_of_category | first %}

  {% if category_name == first_post.categories[0] %}
    {%- comment -%} Gather first-level subcategories (categories[1]) {%- endcomment -%}
    {% assign sub_categories1 = '' | split: '' %}
    {% for post in posts_of_category %}
      {% assign c1 = post.categories[1] %}
      {% if c1 %}
        {% unless sub_categories1 contains c1 %}
          {% assign sub_categories1 = sub_categories1 | push: c1 %}
        {% endunless %}
      {% endif %}
    {% endfor %}
    {% assign sub_categories1 = sub_categories1 | sort %}
    {% assign sub1_size = sub_categories1 | size %}

    <div class="card categories">
      <!-- Top category header -->
      <div id="{{ HEAD_PREFIX }}{{ group_index }}" class="card-header d-flex justify-content-between hide-border-bottom">
        <span class="ms-2">
          <i class="far fa-folder{% if sub1_size > 0 %}-open{% endif %} fa-fw"></i>
          {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
          <a href="{{ _category_url | relative_url }}" class="mx-2">{{ category_name }}</a>
          <span class="text-muted small font-weight-light">
            {% if sub1_size > 0 %}
              {{ sub1_size }}
              {% if sub1_size > 1 %}
                {{ site.data.locales[lang].categories.category_measure.plural | default: site.data.locales[lang].categories.category_measure }}
              {% else %}
                {{ site.data.locales[lang].categories.category_measure.singular | default: site.data.locales[lang].categories.category_measure }}
              {% endif %},
            {% endif %}
            {{ posts_of_category | size }}
            {% if posts_of_category | size > 1 %}
              {{ site.data.locales[lang].categories.post_measure.plural | default: site.data.locales[lang].categories.post_measure }}
            {% else %}
              {{ site.data.locales[lang].categories.post_measure.singular | default: site.data.locales[lang].categories.post_measure }}
            {% endif %}
          </span>
        </span>
        <!-- Collapse trigger -->
        {% if sub1_size > 0 %}
          <a href="#{{ LIST_PREFIX }}{{ group_index }}" data-bs-toggle="collapse" aria-expanded="true" class="category-trigger hide-border-bottom">
            <i class="fas fa-fw fa-angle-down"></i>
          </a>
        {% else %}
          <span class="category-trigger hide-border-bottom disabled">
            <i class="fas fa-fw fa-angle-right"></i>
          </span>
        {% endif %}
      </div>

      <!-- First-level subcategories and second-level if present -->
      {% if sub1_size > 0 %}
        <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
          <ul class="list-group">
            {% for c1 in sub_categories1 %}
              {% assign posts_c1 = site.categories[c1] %}
              {%- comment -%} Gather second-level subcategories (categories[2]) underneath each c1 {%- endcomment -%}
              {% assign sub_categories2 = '' | split: '' %}
              {% for post in posts_c1 %}
                {% assign c2 = post.categories[2] %}
                {% if c2 %}
                  {% unless sub_categories2 contains c2 %}
                    {% assign sub_categories2 = sub_categories2 | push: c2 %}
                  {% endunless %}
                {% endif %}
              {% endfor %}
              {% assign sub_categories2 = sub_categories2 | sort %}
              {% assign sub2_size = sub_categories2 | size %}

              <li class="list-group-item">
                <i class="far fa-folder{% if sub2_size > 0 %}-open{% endif %} fa-fw"></i>
                {% capture _c1_url %}/categories/{{ c1 | slugify | url_encode }}/{% endcapture %}
                <a href="{{ _c1_url | relative_url }}" class="mx-2">{{ c1 }}</a>
                <span class="text-muted small font-weight-light">
                  {% if sub2_size > 0 %}
                    {{ sub2_size }}
                    {% if sub2_size > 1 %}
                      {{ site.data.locales[lang].categories.category_measure.plural | default: site.data.locales[lang].categories.category_measure }}
                    {% else %}
                      {{ site.data.locales[lang].categories.category_measure.singular | default: site.data.locales[lang].categories.category_measure }}
                    {% endif %},
                  {% endif %}
                  {{ posts_c1 | size }}
                  {% if posts_c1 | size > 1 %}
                    {{ site.data.locales[lang].categories.post_measure.plural | default: site.data.locales[lang].categories.post_measure }}
                  {% else %}
                    {{ site.data.locales[lang].categories.post_measure.singular | default: site.data.locales[lang].categories.post_measure }}
                  {% endif %}
                </span>
                {% if sub2_size > 0 %}
                  <ul class="list-group list-group-flush ms-4 mt-2">
                    {% for c2 in sub_categories2 %}
                      <li class="list-group-item">
                        <i class="far fa-folder fa-fw"></i>
                        {% capture _c2_url %}/categories/{{ c2 | slugify | url_encode }}/{% endcapture %}
                        <a href="{{ _c2_url | relative_url }}" class="mx-2">{{ c2 }}</a>
                        <span class="text-muted small font-weight-light">
                          {{ site.categories[c2] | size }}
                          {% if site.categories[c2] | size > 1 %}
                            {{ site.data.locales[lang].categories.post_measure.plural | default: site.data.locales[lang].categories.post_measure }}
                          {% else %}
                            {{ site.data.locales[lang].categories.post_measure.singular | default: site.data.locales[lang].categories.post_measure }}
                          {% endif %}
                        </span>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    {% assign group_index = group_index | plus: 1 %}
  {% endif %}
{% endfor %}
